.sobre {
    padding: 5rem 0px;
    margin: auto;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sobre-feature {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.sobre-feature:nth-child(odd) {
    & .sobre-conteudo {
        order: -1;
    }
}

.sobre-imagem {
    max-width: 40rem;

    & img {
        width: 100%;
    }
}

.sobre-conteudo {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-titulo {
    margin-bottom: 1rem;
}